<nav class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 left-0 w-full z-10">
  <div class="flex flex-wrap items-center justify-between mr-4">
    <a href="/" class="flex items-start border-r border-gray-200 pt-4 pb-4 w-64 h-full">
      <img src="assets/images/app-logo.png" class="ml-4 h-8 mr-3" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PFE Master</span>
    </a>
    <div class="flex items-end md:order-2 relative">
      <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" (click)="toggleDropdown()">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" src="assets/images/profile-picture.png" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 absolute top-2 right-0" [class.hidden]="!isDropdownOpen" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Modifier le profile</a>
          </li>
          <li>
            <a href="#" (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
