<div class="flex items-center justify-end fixed bottom-0 right-0 p-12 w-1/3">
  <div class="w-full">
    <div
      class="formbold-form-wrapper mx-auto hidden w-full rounded-lg border border-[#e0e0e0] bg-white"
      [ngClass]="{ hidden: formHidden }"
    >
      <div
        class="flex items-center justify-between rounded-t-lg bg-[#6A64F1] py-4 px-9"
      >
        <h3 class="text-xl font-bold text-white">
          Avez vous une question? - :)
        </h3>
        <button (click)="toggleChatbox()" class="text-white">
          <svg width="17" height="17" viewBox="0 0 17 17" class="fill-current">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.474874 0.474874C1.10804 -0.158291 2.1346 -0.158291 2.76777 0.474874L16.5251 14.2322C17.1583 14.8654 17.1583 15.892 16.5251 16.5251C15.892 17.1583 14.8654 17.1583 14.2322 16.5251L0.474874 2.76777C-0.158291 2.1346 -0.158291 1.10804 0.474874 0.474874Z"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.474874 16.5251C-0.158291 15.892 -0.158291 14.8654 0.474874 14.2322L14.2322 0.474874C14.8654 -0.158292 15.892 -0.158291 16.5251 0.474874C17.1583 1.10804 17.1583 2.1346 16.5251 2.76777L2.76777 16.5251C2.1346 17.1583 1.10804 17.1583 0.474874 16.5251Z"
            />
          </svg>
        </button>
      </div>
      <div class="py-6 px-9 overflow-y-auto max-h-[400px]">
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
        <div class="col-start-1 col-end-8 p-3 rounded-lg">
          <div class="flex flex-row items-center">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              C
            </div>
            <div
              class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
            >
              <div>Hey How are you today?</div>
            </div>
          </div>
        </div>
        <div class="col-start-6 col-end-13 p-3 rounded-lg">
          <div class="flex items-center justify-start flex-row-reverse">
            <div
              class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
            >
              A
            </div>
            <div
              class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
            >
              <div>I'm ok what about you?</div>
            </div>
          </div>
        </div>
      </div>
      <div
          class="bg-white border border-gray-300 rounded-md px-4 py-2 shadow-sm overflow-y-auto max-h-40"
        >
          <div class="flex flex-wrap">
            <div class="flex-shrink-0 mb-3 mr-3 cursor-pointer">
              <div
                class="w-full max-w-xs relative text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
              >
                <div class="whitespace-normal break-all">
                  I'm ok. What about you?
                </div>
              </div>
            </div>
            <div class="flex-shrink-0 mb-3 mr-3 cursor-pointer">
              <div
                class="w-full max-w-xs relative text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
              >
                <div class="whitespace-normal break-all">
                  I'm ok. What about you? I'm ok. What about you? I'm ok. What
                  about you?
                </div>
              </div>
            </div>
            <div class="flex-shrink-0 mb-3 mr-3 cursor-pointer">
              <div
                class="w-full max-w-xs relative text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
              >
                <div class="whitespace-normal break-all">
                  I'm ok. What about you?
                </div>
              </div>
            </div>
            <div class="flex-shrink-0 mb-3 mr-3 cursor-pointer">
              <div
                class="w-full max-w-xs relative text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
              >
                <div class="whitespace-normal break-all">
                  I'm ok. What about you?
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div
      class="mx-auto mt-6 flex max-w-[550px] items-center justify-end space-x-5"
    >
      <button
        class="flex h-[70px] w-[70px] items-center justify-center rounded-full bg-[#6A64F1] text-white"
        (click)="toggleChatbox()"
      >
        <span class="cross-icon" [class.hidden]="formHidden">
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.474874 0.474874C1.10804 -0.158291 2.1346 -0.158291 2.76777 0.474874L16.5251 14.2322C17.1583 14.8654 17.1583 15.892 16.5251 16.5251C15.892 17.1583 14.8654 17.1583 14.2322 16.5251L0.474874 2.76777C-0.158291 2.1346 -0.158291 1.10804 0.474874 0.474874Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.474874 16.5251C-0.158291 15.892 -0.158291 14.8654 0.474874 14.2322L14.2322 0.474874C14.8654 -0.158292 15.892 -0.158291 16.5251 0.474874C17.1583 1.10804 17.1583 2.1346 16.5251 2.76777L2.76777 16.5251C2.1346 17.1583 1.10804 17.1583 0.474874 16.5251Z"
              fill="white"
            />
          </svg>
        </span>
        <span class="chat-icon" [class.hidden]="!formHidden">
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8333 14.0002V3.50016C19.8333 3.19074 19.7103 2.894 19.4915 2.6752C19.2728 2.45641 18.976 2.3335 18.6666 2.3335H3.49992C3.1905 2.3335 2.89375 2.45641 2.67496 2.6752C2.45617 2.894 2.33325 3.19074 2.33325 3.50016V19.8335L6.99992 15.1668H18.6666C18.976 15.1668 19.2728 15.0439 19.4915 14.8251C19.7103 14.6063 19.8333 14.3096 19.8333 14.0002ZM24.4999 7.00016H22.1666V17.5002H6.99992V19.8335C6.99992 20.1429 7.12284 20.4397 7.34163 20.6585C7.56042 20.8772 7.85717 21.0002 8.16659 21.0002H20.9999L25.6666 25.6668V8.16683C25.6666 7.85741 25.5437 7.56066 25.3249 7.34187C25.1061 7.12308 24.8093 7.00016 24.4999 7.00016Z"
              fill="white"
            />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
