<div class="h-screen flex bg-white shadow-lg">
    <div class="lg:block lg:w-1/2 bg-cover" style="background-image:url('assets/images/login-page-image.webp')"></div>
    <div class="p-8 lg:w-1/2 m-auto">
        <img src="assets/images/app-logo.png" class="h-8 mx-auto" alt="Flowbite Logo" />
        <h2 class="text-2xl font-semibold text-gray-700 text-center">PFE Master</h2>
        <p class="text-xl text-gray-600 text-center">Content de te revoir!</p>
        <a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
            <div class="px-4 py-3">
                <svg class="h-6 w-6" viewBox="0 0 40 40">
                    <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#FFC107"/>
                    <path d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z" fill="#FF3D00"/>
                    <path d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z" fill="#4CAF50"/>
                    <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#1976D2"/>
                </svg>
            </div>
            <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Connectez-vous avec Google (Bientôt!)</h1>
        </a>
        <div class="mt-4 flex items-center justify-between">
            <span class="border-b w-1/5 lg:w-1/4"></span>
            <a href="#" class="text-xs text-center text-gray-500 uppercase">ou connectez-vous avec e-mail</a>
            <span class="border-b w-1/5 lg:w-1/4"></span>
        </div>
        <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="login()">
            <div *ngIf='this.isNotValid' id="alert-border-2" class="flex mt-4 p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <div class="ml-3 text-sm font-medium">
                    Veuillez remplir tous les champs obligatoires.
                </div>
            </div>
            <div class="mt-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Nom d'utilisateur</label>
                <input [formControlName]="'username'" class="focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
                <div *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">
                    <div class="mt-4 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Requis!</span> Veuillez fournir un nom d'utilisateur valide.
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Mot de passe</label>
                    <a href="#" class="text-xs text-gray-500">Mot de passe oublié? (Bientôt!)</a>
                </div>
                <input [formControlName]="'password'" class="focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password">
                <div *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                    <div class="mt-4 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Requis!</span> Le mot de passe ne peut pas être vide.
                    </div>
                </div>
            </div>
            <div class="mt-8">
                <button type="submit" class="bg-blue-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-blue-800">Connexion</button>
            </div>
            <div *ngIf='this.isError' id="alert-border-2" class="flex mt-4 p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <div class="ml-3 text-sm font-medium">
                    Échec de la connexion. Veuillez vérifier vos informations d'identification et réessayer.
                </div>
            </div>
        </form>
        <div class="mt-4 flex items-center justify-between">
            <span class="border-b w-1/5 md:w-1/4"></span>
            <a href="#" class="text-xs text-gray-500 uppercase">ou inscrivez-vous</a>
            <span class="border-b w-1/5 md:w-1/4"></span>
        </div>
    </div>
</div>